#schedule {
    margin: 20px auto;
    text-align: center;
}

#scheduleImg {
    max-width: 80%;
    height: auto;
    border: 2px solid #000;
}

#joinRoomSection {
    margin: 20px auto;
}

#board {
    border: 2px solid #000;
    background-color: #f5dba5;
    display: block;
    margin: 20px auto;
}
